<div class="fly-panel fly-column">
  <div class="layui-container">
    <ul class="layui-clear">
      <li class="layui-hide-xs layui-this"><a href="./index.html">热门</a></li> 
      <li><a href="jie/index.html">关注<span class="layui-badge-dot"></span></a></li> 
      <li><a href="jie/express.html">快讯</a></li> 
      <li><a href="jie/joined.html">已参与</a></li> 
      <li><a href="jie/finished.html">已结</a></li> 
      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li> 
      
      <!-- 用户登入后显示 -->
      <!-- <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="user/index.html">我发表的贴</a></li> 
      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="user/index.html#collection">我收藏的贴</a></li>  -->
    </ul> 
    
    <div class="fly-column-right layui-hide-xs"> 
      <span class="fly-search"><i class="layui-icon"></i></span> 
      <a href="news/new" class="layui-btn">发表见闻</a> 
    </div> 
    <div class="layui-hide-sm layui-show-xs-block" style="margin-top: -10px; padding-bottom: 10px; text-align: center;"> 
      <a href="jie/add.html" class="layui-btn">发表见闻</a> 
    </div> 
  </div>
</div>
<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8">


      <div class="fly-panel" style="margin-bottom: 0;">
        
        <div class="fly-panel-title fly-filter">
          <!-- <a href="" class="layui-this">综合</a>
          <span class="fly-mid"></span>
          <a href="">未结</a>
          <span class="fly-mid"></span>
          <a href="">已结</a>
          <span class="fly-mid"></span>
          <a href="">精华</a> -->
          <span class="fly-filter-right layui-hide-xs">
            <a href="" class="layui-this">按最新</a>
            <span class="fly-mid"></span>
            <a href="">按热议</a>
          </span>
        </div>

        <ul class="fly-list">        
          <% @news.each do |new| %>
	          <li>
	            <a href="#" class="fly-avatar">
	              <img src="<%= new[:user_avatar] %>" alt="<%= new[:user_name] %>">
	            </a>
	            <h2>
	              <a class="layui-badge">动态</a>
	              <a href="<%= new[:link] %>"><%= new[:title] %></a>
	            </h2>
	            <div class="fly-list-info">
	              <a href="#" link="">
	                <cite><%= new[:user_name] %></cite>
	                <!--<i class="iconfont icon-renzheng" title="认证信息：XXX"></i>-->
	                <i class="layui-badge fly-badge-vip"><%= new[:position] %></i>
	              </a>
	              <span><%= new[:created_at] %></span>
	              
	              <span class="fly-list-kiss layui-hide-xs" title="悬赏代币" onclick="likeUp(this)"><i class="layui-icon"></i> <span><%= new[:like_count] %></span></span>
	              <% if new[:is_over] %>
	              	<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>
	              <% end %>	
	              <span class="fly-list-nums"> 
	                <i class="iconfont icon-pinglun1" title="回答"></i> <%= new[:comment_count] %>
	              </span>
	            </div>
	            <% if new[:is_hot] %>
		            <div class="fly-list-badge">
		              <span class="layui-badge layui-bg-red">精帖</span>
		            </div>
		          <% end %>  
	          </li>
	        <% end %>  
          
        </ul>

      </div>
    </div>
    <div class="layui-col-md4">
      <dl class="fly-panel fly-list-one">
        <dt class="fly-panel-title">本周热议</dt>
        <% @news.each do |new| %>
	        <dd>
	          <a href="<%= new[:link] %>"><%= new[:title]%> </a>
	          <span><i class="iconfont icon-pinglun1"></i> <%= new[:comment_count] %></span>
	        </dd>
        <% end %>
      </dl>
      <div class="fly-panel fly-rank fly-rank-reply" id="LAY_replyRank">
        <h3 class="fly-panel-title">鉴定师排行榜</h3>
        <ul class="fly-list"> 
        	<% @users.each do |user| %>         
	          <li>
	            <a class="fly-firstT"><%= user[:id] %></a>
	            <a href="<%= user[:path] %>" class="fly-avatar">
	              <img src="<%= user[:avatar] %>" alt="<%= user[:name] %>">
	            </a>
	              <cite><%= user[:name] %></cite>
	              <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
	                <i class="layui-badge fly-badge-vip"><%= user[:position] %></i>
	            <div class="fly-list-info">
	              <span><%= user[:counts] %>次鉴定</span>
	            </div>

	          </li>
	        <% end %>  
          
        </ul>
        
      </div>


    </div>
  </div>
</div>
<script>
    layui.cache.page = '';
    layui.cache.user = {
      username: '游客',
      uid: -1,
      avatar: '/image/avatar/0.jpg',
      experience: 83,
      sex: '男'
    };
  </script>